
<%= form_for(@translate) do |f| %>

  <!-- <span class="input-group-addon">Key</span> -->

  <form class="form-wrap">
    <legend>Edit</legend>

    <div class="row">
      <div class="form-group col-md-4">
        <label for="exampleTextarea form-control-label">Locale</label>
          <!-- <label for="exampleTextarea form-control-label">Locale</label> -->
          <%= f.text_area :key, class: 'form-control', id:"exampleTextarea", rows:"1"%>
      </div>
    </div>
  <div class="row">
      <div class="form-group col-md-4">
        <label for="exampleTextarea form-control-label">Key</label>
        <%= f.text_area :key, class: 'form-control', id:"exampleTextarea", rows:"1"%>
      </div>
    </div>
  <div class="row">
      <fieldset class="form-group col-md-5">
        <label for="exampleTextarea form-control-label">Value</label>
        <%= f.text_area :value, class: 'form-control', id:"exampleTextarea", rows:"3" %>
      </fieldset>
    </div>

  </form>

    <%= f.submit 'Update', class:'btn btn-default'%>

<% end %>
