
<h1>List</h1>

    <table>
      <thead>
        <tr>
          <th></th>
          <th>Created At</th>
          <th>Locale</th>
          <th>Key</th>
          <th>Value</th>
          <th>Updated</th>
          <th></th>
          <th></th>
        </tr>
      </thead>


      <tbody>
        <% @translations.each do |translate| %>
        <tr>
          <td></td>
          <td><%= translate.created_at %></td>
          <td> en </td>
          <td><%= translate.key %></td>
          <td><%= translate.value %></td>
          <td><%= translate.updated_at %></td>
          <td><%= link_to 'Edit', edit_translate_path(translate) %></td>
          <td><%= link_to 'Destroy', translate, method: :delete, data: { confirm:'Are you sure?' } %></td>
          <% end %>
        </tr>
      <tbody>

    </table>

<div id='work'></div>
<%= react_component('ValueList' , {allval: raw(render)})%>
